body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(Hintergrund.jpg);
    background-size: cover;
    height: 99.3vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}

.menu-icon {
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding-left: 15px;
    z-index: 1001;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-top: 50px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: left 0.3s ease, opacity 0.3s ease, visibility 0s ease 0.3s;
}

.menu.open {
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: left 0.3s ease, opacity 0.3s ease;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu ul li {
    text-align: center;
    padding: 10px 0;
}

.menu li.dropdown {
    position: relative;
}

.arrow {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.dropdown-menu {
    display: none;
    position: relative;
    background-color: #f9f9f900;
    border: 1px solid #dddddd00;
    width: 200px;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown.open .arrow {
    transform: rotate(90deg);
}

.dropdown-menu li a {
    padding: 1px;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.dropdown-menu li a:hover {
    background-color: #55555500;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    width: 100%;
}

.menu ul li a:hover {
    background-color: #55555500;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .menu {
        display: flex;
        max-height: none;
        flex-direction: row;
        justify-content: center;
    }

    .menu ul li {
        padding: 0 15px;
    }
}

.ober-begriff {
    font-size: 30px;
} 
